
<!DOCTYPE html>
<html>

    <div id=navigate>
        <a href="/">Menu</a>
        <a href="/Add">Add</a>
    </div>

    <head>
        <title> Menu </title>
        <link rel="stylesheet" href="css/tokimon.css">
    </head>

    <body>

        <div id="main">
            "placeholder"
        </div>

    <script src="js/tokimon.js"></script>

    </body>

</html>