
<!DOCTYPE html>
<html>

<ul id=navigate>
    <li><a href="/">Menu</a></li>
    <li><a href="/Add">Add</a></li>
</ul>

<head>
    <title> Menu </title>
</head>

<body>

<div id="main">
    "placeholder"
</div>

<script src="../public/js/tokimon.js"></script>

</body>

</html>