
<!DOCTYPE html>
<html>
	<head>
        <title> Grade Calculator </title>
    </head>
	
	<body>

        <div id="main">
            <p>
                <%= tokimon%>
            </p>
        </div>
        
        <script src="js/calculator.js"></script>
        
    </body>
    
</html>