<!DOCTYPE html>
<html>

<div id=navigate>
    <a href="/">Menu</a>
    <a href="/add">Add</a>
</div>

<head>
    <title> Menu </title>
    <link rel="stylesheet" href="css/tokimon.css">
</head>

<body>

<ul id="main">
    <% tokimon.forEach((item, index) => { %>
        <li>
            <a href="Tokimon/<%= item.id %>"> <%= item.name %> </a>
        </li>
    <% }) %>
</ul>

</body>

</html>