
<!DOCTYPE html>
<html>

    <div id=navigate>
        <a href="/">Menu</a>
        <a href="/Add">Add</a>
    </div>

	<head>
        <title> Menu </title>
        <link rel="stylesheet" href="css/tokimon.css">
    </head>
	
	<body>

        <ul id="main">
            <% tokimon.forEach((item, index) => { %>
                <li>
                <a href="Tokimon/<%= item.id %>"> <%=item.name%> </a>
                </li>
            <% }) %>
        </ul>
        
        <script src="js/tokimon.js"></script>
        
    </body>
    
</html>