/* font-family: "DINWeb", sans-serif; */
/* font-family: "DINWebMedium", sans-serif; */
/* font-family: "DINWebBold", sans-serif; */

/* Red Color: #A6192E */
/* Form Background_Color: #E9EFF1 */
/* Form header Background_Color: #DDDDDD */

body {
    background-color: #A6192E;
    margin: 0;
    padding: 50px;
}

#main {
    background-color: white;
    border-bottom: 50px solid #202020;
    border-top: 50px solid #202020;
    box-shadow: 0px 0px 10px;
    height: 100%;
    padding: 25px;
    width: auto;
}

h1 { font-family: "DINWeb", sans-serif; }
h3 { color: #B5111A; }

form { 
    background-color: #E9EFF1; 
    padding: 1em;
    width: 75%;
}

/* Table */
    table {
        border-collapse: collapse;
        table-layout: fixed ;
        width: 100% ;
    }

    table tr th,
    table tr td {
        border: 1px solid black;
    }

    table tr th {
        background-color: #DDDDDD;
        padding: 5px;
        text-align: left;
    }

    table tr td { padding: 5px; }

    input {
        border-radius: 0px;
        height: 2.25em;
        width: 50%;
    }
/* END Table */

#extra { text-align: center; }
#extra p a {
    background-color: #505050;
    border-color: #505050;
    border-radius: 3px;
    border-style: solid;
    color: white;
    font-family: "DINWebMedium",sans-serif;
    font-size: 1em;
    margin: 0.5em;
    padding: 0.5em 1em;
    text-decoration: none;
}

#calculate { text-align: right; }
#calculate p a {
    background-color: #A6192E;
    border-radius: 3px;
    color: white;
    font-family: "DINWebMedium",sans-serif;
    font-size: 1em;
    margin: 0.5em;
    padding: 0.5em 1em;
    text-decoration: none;
}